{% extends 'layout.twig' %}
{% block body %}
<p>GOV.UK needs your help to improve and to make sure the website works well for the people who need it.</p>

<p>To join up and help, you must:</p>

<ul class="list list-bullet">
    <li>be 18 or older</li>
    <li>live in the EU</li>
</ul>

<p>You don’t need to be good with computers or the internet to join.</p>

<p>When you join, you’ll get a short survey to fill in about you and how you use computers. Your answers will help make sure you get invited to research that’s relevant to you.
    Your answers won’t be shared with anyone else.</p>

<p>Once you’ve signed up, you might be asked to: </p>

<ul class="list list-bullet">
    <li>try out new online transactions</li>
    <li>answer more questions by email</li>
    <li>talk to our researchers about how you’ve interacted with government in the past</li>
    <li>visit a government building near you</li>
    <li>let our researchers meet you at home or work</li>
</ul>

<p>If you meet a researcher in person, you’ll get a voucher to say thank you for your time. You can say if you’d prefer to meet researchers or do online research when you sign up.</p>

<p>You can always say no to an invite and you can unsubscribe at any time.</p>

<p><a href="{{ survey_url }}/contact" class="button" role="button">Sign up now</a></p>

<p><a href="{{ survey_url }}/more">Find out more about what's involved</a><p>
{% endblock %}