{% extends 'layout.twig' %}
{% block body %}
<p>There are 2 ways you might be asked to help, in person, or online.</p>

<h3 class="heading-medium">Take part in person</h3>

<p>You might be asked to come to a government building in central London, or visit you at home or work. These sessions usually last 1 hour.</p>

<p>You’ll always be asked if the session can be recorded - you can say ‘no’ if you want to. Recording helps with remembering what you did and share with teams at GOV.UK.
    You’ll get a voucher to thank you for your time.</p>

<h3 class="heading-medium">Take part in research online</h3>

<p>If you take part in research online, you’ll be given a task to do on GOV.UK. You don’t need to travel anywhere for these sessions but you’ll need your own internet connection, computer, phone or tablet to take part. The sessions usually last 30 minutes.</p>

<h3 class="heading-medium">Who can take part?</h3>

<p>You must be 18 or older to take part.</p>

<p>You don’t have to be a UK citizen to take part (some of the things you’ll be asked to try are made for non-UK citizens), but you must live in the UK or the European Union (EU).</p>

<p>If you live in the UK, you can take part in both online and in-person research sessions.</p>

<p>If you don’t live in the UK but you live in the EU, you can only take part in the online research sessions.</p>

<h3 class="heading-medium">Contact GOV.UK</h3>

<p>You can contact GOV.UK for more information or to update your details. </p>

<strong class="bold-small">GOV.UK user research team</strong><br/>
Government Digital Service<br/>
Aviation House <br/>
125 Kingsway <br/>
London <br/>
WC2B 6NH<br/>
{% endblock %}