{% extends 'layout.twig' %}
{% block body %}
<p>Your privacy is important to us. When you volunteer to test GOV.UK we will ask you some questions about who you are and how you use the internet. We may also ask you for further information in the future. You can choose whether or not to give us any further information.</p>

<p>When you answer our questions, we save your information. We only save personal information that we need to invite you to participate in the right research session. If you choose to sign up, we may ask for contact, identity and other personal information. You can choose whether you want to share information with us. You’ll always be told when we collect this information.</p>

<p>The data controller for this information is the Cabinet Office, based at 70 Whitehall, London SW1A 2AS. The Cabinet Office is registered with the Information Commissioner’s Office with registration number Z7414053.</p>

<p>This privacy policy applies to collection and storage of your information for the GOV.UK user research community. It does not apply to personal information gathered during research sessions. If you participate in research, we will give you more information about how we’ll use any personal information you give us during the research session.</p>

<p>We may ask you to share:</p>

<ul class="list list-bullet">
    <li>your name and contact details</li>
    <li>information about how you use the internet</li>
    <li>information about your personal circumstances, such as employment, benefits or housing</li>
    <li>information about any assistive technology you use to access the internet</li>
</ul>

<p>We may also track (using <a href="/cookies">cookies</a> and page tagging):</p>

<ul class="list list-bullet">
    <li>your IP address</li>
    <li>what <a href="https://www.gov.uk/help/browsers">web browser</a> you use</li>
    <li>how you use the GOV.UK user research community site</li>
    <li>which webpage you were on when you signed up to the GOV.UK user research community</li>
</ul>

<p>By accepting this privacy policy, you are consenting to our use and disclosure of your personal information as described in this privacy policy, which may include sensitive personal information. If you do not want us to keep your personal information, please do not register.</p>

<h3 class="heading-medium">What we will do with your data</h3>

<p>The Government Digital Service wants to make websites better by learning from the people who use them. The information or data you share with us will only be used for improving government websites and services. Your answers will also help us ask you to participate in user research that’s relevant to you.</p>

<p>We may use the information or data you share with us to contact you with GOV.UK user research community surveys to help us learn more about you.</p>

<p>We may share your information with other central government departments. This means we may invite you to take part in research being done by other central government departments.</p>

<p>We won’t share your information with any organisations outside central government. Your information will never be used for marketing, market research or commercial purposes. We won’t pass your details on to other websites.</p>

<h3 class="heading-medium">Keeping your data secure</h3>

<p>We have procedures and security features in place to keep your data secure on our servers. However, by agreeing to participate you should be aware and accept that:</p>

<ul class="list list-bullet">
    <li>the internet is not completely secure</li>
    <li>we cannot guarantee the security of your data on its way to us</li>
    <li>you send information or data over the internet at your own risk</li>
</ul>

<h3 class="heading-medium">Where we will store your data</h3>

<p>We store your data in the UK and the data will not leave the UK. Your data will be processed by staff within the UK who work for us or one of our suppliers.</p>

<p>By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to treat your data securely and in accordance with this privacy policy.</p>

<h3 class="heading-medium">Holding your data</h3>

<p>We will only hold your data while it is being used for research purposes and for no longer than 3 years. You can ask us to remove your data at any time.</p>

<h3 class="heading-medium">Deleting your data and unsubscribing</h3>

<p>You can unsubscribe from the panel at any time. You can find a link to unsubscribe in any of the emails we’ve sent you.</p>

<p>If you ask us to delete your data, we’ll delete the information we hold about you from our databases as soon as reasonably possible.</p>

<p>In some circumstances, we’ll keep information you’ve asked us to remove. This might be to resolve disputes, troubleshoot problems or apply our <a href="terms-and-conditions">terms of participation</a>. Due to technical and legal constraints, information is never completely removed from our databases, including stored back up systems. You therefore shouldn’t expect that all of your personally identifiable information will be completely removed from our databases.</p>

<h3 class="heading-medium">Disclosing your information</h3>

<p>Your information will be stored securely and it will only be used it for user research.</p>

<p>We may share your data with other government departments who will use it for user research.</p>

<p>We may pass on your personal information if we have a legal obligation to do so, or if we have to enforce or apply our <a href="terms-and-conditions">terms of use</a> and other agreements. This includes exchanging information with other government departments for legal reasons.</p>

<h3 class="heading-medium">Your rights</h3>

<p>You can find out what <a href="https://www.gov.uk/data-protection/find-out-what-data-an-organisation-has-about-you">information we hold</a> about you. You can ask us not to use any of the information we collect. You can contact <a href="mailto:contact@take-part-in-research.service.gov.uk">contact@take-part-in-research.service.gov.uk</a> to find out what information we hold about you.</p>
<p>While you are subscribed, we will send you emails and research participation offers. You can choose to unsubscribe at any time. If you unsubscribe, we will not send you emails or research participation offers. We will also delete your information from our system.</p>

<h3 class="heading-medium">Links to other websites</h3>

<p>This privacy policy only applies to the online forms and surveys you complete when you volunteer to help us research and test GOV.UK. This privacy policy doesn’t cover research you participate in. It doesn't cover other pages you visit on GOV.UK or on other government services and transactions.</p>

<h3 class="heading-medium">Following a link to another website</h3>

<p>If you choose to go to another website from this one, you should read the privacy policy on that website to find out what that site will do with your information.</p>

<h3 class="heading-medium">We may change this privacy policy</h3>

<p>We may occasionally change this privacy policy so that it accurately reflects regulation and how we collect and disclose data. All amended terms will automatically be effective 30 days after they are posted on this web page.</p>

{% if previous_step_url %}
<div class="form-group">
    <a href="{{ previous_step_url }}" class="button" role="button">Back</a>
</div>
{% endif %}
{% endblock %}